  <% content_for :for_head do %>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&amp;display=swap" rel="stylesheet">
  <% end %>
  <%# <div class="header-container"> %>
    <!--<%= react_component("Home/App")%>-->
    <%= react_component("Global/GlobalNav")%>
  <%# </div> %>
  <!-- <div class="main-container" >
    
    <i class="c-rating__star" id="test1"></i>
    <%# <img src="/images/logo.jpeg" alt="img"> %>
    <%= @shopnums %>
    <%= react_component("Shops",{img_src:"/images/restaurant1.jpg",restaurant_name:"name1"}) %>
    <iframe width=500px height=300px src="https://www.youtube.com/embed/B0SxxHAImhc">
  </div> -->

