html {
    scroll-behavior: smooth;
}
body {
  // overflow-x: hidden;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  color: black;
  background-color: #fff;
}