/* // Place all the styles related to the tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */
.modal-wrapper {
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 20, 20, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.scrollable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 600px;
  /* // height:100px; */
}

.scrollable .scroll-item {
  display: block;
  min-width: 200px;
  height: 200px;
  line-height: 200px;
  border: 1px solid black;
  text-align: center;
  margin-right: 10px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@-webkit-keyframes rotate3d {
  from {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
  to {
    -webkit-transform: rotate3d(1, 2, 0, 60deg);
            transform: rotate3d(1, 2, 0, 60deg);
  }
}

@keyframes rotate3d {
  from {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
  to {
    -webkit-transform: rotate3d(1, 2, 0, 60deg);
            transform: rotate3d(1, 2, 0, 60deg);
  }
}


#target-text:target{
  background-color: yellow;
}

.row{
  margin-right: 15px;
}

.clip{
  background-color: rgb(26, 136, 240);
  width: 30vw;
  height: 10em;
  clip-path: inset(20% 20% 20%);
}

.target-test{
  background-color: yellow;
}

.tools-container{
  width:100vw;
}

.tools-inner-container{
  width: 100%;
  height: 300px;
  background-color: rgb(3, 109, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  .red-box{
    width: 30px;
    height: 30px;
    background-color: red;
  }
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}