// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

li {
  list-style: none;
}

.main {
  width: 1600px;
  margin: 50px auto;
  background-color: #f0f8fa;
}

.shop_detail img {
  height: 100px;
  width: 100px;
}

.main-container {
  background-image: url("/../images/restaurant1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-right: 200px;
  padding-left: 200px;
}

.shop_detail {
  display: flex;
}

.shop_detail img {
  margin: auto;
  height: 130px;
  width: 130px;
}

.shops {
  display: flex;
}

.li {
  display: flex;
}

.aa {
  height: 100px;
  width: 100px;
}

/* .btn1{
    display:flex;
    float:right;
    margin:0 0 0 auto;
} */

.comment {
  width: 800px;
}

.comment p a {
  text-overflow: ellipsis;
  /* width:800px; */
  overflow: hidden;
  white-space: nowrap;
}

.header {
  background-color: #595960;
  padding: 10px 100px;
  max-width: 100%;
  min-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header-container {
  position: fixed;
  width: 100%;
}

.header-items {
  float: right;
  /* margin-right:200px; */
}

.header-items a {
  float: left;
  /* margin:40px 10px; */
  padding: 0 10px;
  color: white;
  line-height: 50px;
  /* height:100 px; */
  display: block;
  box-sizing: border-box;
  text-decoration: none;
}

.route-page {
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 256px;
  background-color: skyblue;
  width: 100vw;
  min-height: 100vh;
}

// @media screen and (max-width: 900px) {
//     .route-page {
//         padding-left: 0px;
//         width:100%;
//     }
// }

.nav-item-enter {
  opacity: 0;
  right: 100vw;
}

.nav-item-enter-active {
  opacity: 1;
  right: 0vw;
  transition: all 200ms linear 100ms;
}

.nav-item-exit {
  opacity: 1;
}

.nav-item-exit-active {
  left: 100vw;
  opacity: 0;
  transition: all 300ms linear;
}

.nav {
  position: fixed;
  width: 16rem;
  height: 100vh;
  left: 0;
  background-color: rgb(185, 227, 255);
  z-index: 100;
  opacity: 0.8;
}

.page-list {
  padding: 0;
  width: 100%;
  line-height: 1.5rem;
  li {
    position: relative;
    margin: 1.5rem 0;
    a {
      line-height: 1.5rem;
      width: 100%;
      span {
        padding-left: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Oswald;
        &::before {
          content: "";
          display: inline-block;
          width: 0;
          height: 100%;
          background-color: #000;
          position: absolute;
          left: 0;
          top: 0;
          -webkit-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
          z-index: -1;
        }
        &:hover::before {
          width: 100%;
          transition: width 500ms;
        }
        &:hover {
          color: white;
        }
      }
    }
  }
}

.canvas {
  width: 900px;
  margin: auto;
  position: relative;
  height: 550px;
  .image {
    position: absolute;
    // top:0;
    // left:0;
  }
  .reactjs {
    animation: top-visual-reactjs 0.3s 0s linear forwards;
    transform: translate(400px, 200px);
    opacity: 0;
  }
  .css {
    animation: top-visual-css 0.3s 0.1s linear forwards;
    transform: translate(400px, 200px);
    opacity: 0;
  }
  .html {
    animation: top-visual-html 0.3s 0.2s linear forwards;
    transform: translate(400px, 200px);
    opacity: 0;
  }
  .mysql {
    animation: top-visual-mysql 0.3s 0.3s linear forwards;
    transform: translate(400px, 200px);
    opacity: 0;
  }
  .javascript {
    animation: top-visual-javascript 0.3s 0.4s linear forwards;
    transform: translate(400px, 200px);
    opacity: 0;
  }
  .ps {
    animation: top-visual-ps 0.3s 0.5s linear forwards;
    transform: translate(400px, 200px);
    opacity: 0;
  }
  .ruby {
    animation: top-visual-ruby 0.3s 0.6s linear forwards;
    transform: translate(400px, 200px);
    opacity: 0;
  }
}

@keyframes top-visual-reactjs {
  0% {
    -webkit-transform: translate(400px, 200px);
    transform: translate(400px, 200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes top-visual-css {
  0% {
    -webkit-transform: translate(400px, 200px);
    transform: translate(0px, 200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes top-visual-html {
  0% {
    -webkit-transform: translate(400px, 200px);
    transform: translate(-400px, 200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes top-visual-mysql {
  0% {
    -webkit-transform: translate(400px, 200px);
    transform: translate(400px, 0px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes top-visual-javascript {
  0% {
    -webkit-transform: translate(400px, 200px);
    transform: translate(-400px, 0px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes top-visual-ps {
  0% {
    -webkit-transform: translate(400px, 200px);
    transform: translate(400px, -200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes top-visual-ruby {
  0% {
    -webkit-transform: translate(400px, 200px);
    transform: translate(-400px, -200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

.top-text {
  width: 900px;
  margin: auto;
  text-align: center;
  animation: fade-in 0.3s 1s linear forwards;
  opacity: 0;
  p {
    font-size: 71px;
    font-weight: bold;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav-project {
  position: absolute;
  bottom: 15rem;
  right: 2rem;
  p {
    color: inherit;
    font-size: 1.5rem;
    font-weight: 600;
  }
  a {
    width: 6rem;
    height: 6rem;
    display: block;
  }
  .citrus {
    background-image: url("/images/citrus_icon.png");
    background-size: 100% 100%;
  }
  .cmazon {
    background-image: url("/images/cmazon-icon.png");
    background-size: 100% 100%;
  }
}

//bootstrap改写
.row {
  margin-right: 0;
  --bs-gutter-x: 0;
}

.col-sm-6 {
  padding: 0;
}

.y-input {
  .animate__shakeX {
    animation-duration: 0.5s;
  }
}

.chart-type-container {
  margin-top: 30px;
  .chart-type-btn {
    margin-bottom: 10px;
    width: 100%;
    &:hover {
      transform: scale(1.1);
    }
  }
}
