<% content_for :for_head do %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
  <script src="/javascript/lazysizes.min.js" async=""></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
  <link rel="icon" href="/images1/citrus_icon.png" type="image/icon">
  <%# <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> %>
  <%# <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script> %>
  <style>
  body{
    overflow-x: hidden;
    scrollbar-width:none;
}
::-webkit-scrollbar {
    display: none;
}
  </style>
<% end %>
<body
data-spy="scroll" data-target="#navbarResponsive" data-aos-easing="ease"
    data-aos-duration="400" data-aos-delay="0">
    <!-- Preloader Starts Here -->
    <div id="loader">
    </div>
    <!-- Preloader Starts Here -->
    <!-- Home Section Starts Here -->
    <div    id="home" class="offset aos-init aos-animate" data-aos="fade-in" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-delay="0">
        <!-- Navbar Starts Here -->
        <nav class="navbar navbar-expand-md navbar-light" style="top : 0">
            <a href="#" data-turbolinks="false" class="navbar-brand"><img src="/images1/citrus_icon.png" alt="..." class="lozad"></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarResponsive" style="">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a data-turbolinks="false" href="#home" class="nav-link">主页</a>
                    </li>
                    <li class="nav-item">
                        <a data-turbolinks="false" href="#ourproducts" class="nav-link">产品一览</a>
                    </li>
                    <li class="nav-item">
                        <a data-turbolinks="false" href="#Images" class="nav-link">柑橘美图</a>
                    </li>
                    <li class="nav-item">
                        <a data-turbolinks="false" href="#articles" class="nav-link">你知道吗</a>
                    </li>
                    <li class="nav-item">
                        <a data-turbolinks="false" href="#location" class="nav-link">地址</a>
                    </li>
                    <li class="nav-item">
                        <a data-turbolinks="false" href="#contactus" class="nav-link">联系我们</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Navbar Ends Here -->
        <!-- Start Landing Page Section  -->
        <div class="landing">
            <div class="home-wrap">
                <div class="home-inner">
                </div>
            </div>
        </div>
        <div class="caption ">
            <h1>欢迎来到<br>
                柑橘之家</h1>
            <a data-turbolinks="false" href="#" class="btn btn-lg">立刻购买</a>
        </div>
        <!-- End Landing Page Section  -->
    </div>
    <!-- Home Section Ends Here -->
    <!-- Our Products Section Starts Here -->
    <div class="our-products" id="ourproducts">
        <div class="text-center">
            <div class="col-12">
                <h3 class="heading">产品一览</h3>
                <div class="heading-underline"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md ourproducts aos-init" id="pouch1" data-aos="fade-in" data-aos-duration="1000"
                data-aos-easing="ease-in-out" data-aos-delay="0">
                <div class="darkside aos-init" style="background-color: rgb(121, 159, 55);" data-aos="fade-in"
                    data-aos-duration="0" data-aos-easing="ease-in-out" data-aos-delay="0"></div>
                <div class="whitespace">
                    <hr style="height : 6px; background-color:rgb(255,246,138); padding : 0; margin : 0">
                </div>
                <img data-src="/images1/PouchPNG.png" class="pouch aos-init lazy" alt="" data-aos="fade-up"
                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="500"
                    src="/images1/PouchPNG.png">
                <div class="info">
                    <h1>黄柑橘</h1>
                </div>
            </div>
            <div class="col-md ourproducts aos-init" id="pouch2" data-aos="fade-in" data-aos-duration="1000"
                data-aos-easing="ease-in-out" data-aos-delay="0">
                <div class="darkside aos-init" style="background-color: rgb(132, 115, 157);" data-aos="fade-in"
                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="0"></div>
                <div class="whitespace">
                    <hr style="height : 6px; background-color:rgb(255,246,138); padding : 0; margin : 0">
                </div>
                <img data-src="/images1/PouchPNG2.png" class="pouch aos-init lazyload" alt="" data-aos="fade-up"
                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1000"
                    src="/images1/PouchPNG2.png">
                <div class="info">
                    <h1 style="color : rgb(54, 28, 92)">青柑橘</h1>
                </div>
            </div>
            <div class="col-md ourproducts aos-init" id="pouch3" data-aos="fade-in" data-aos-duration="1000"
                data-aos-easing="ease-in-out" data-aos-delay="0">
                <div class="darkside aos-init" style="background-color: rgb(194, 122, 42);" data-aos="fade-in"
                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="0"></div>
                <div class="whitespace">
                    <hr style="height : 6px; background-color:rgb(255,246,138); padding : 0; margin : 0">
                </div>
                <img data-src="/images1/PouchPNG3.png" class="pouch aos-init lazyload" alt="" data-aos="fade-up"
                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1500"
                    src="/images1/PouchPNG3.png">
                <div class="info">
                    <h1 style="color : rgb(85, 54, 20)">红柑橘</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Products Section Ends Here -->
    <!-- Images Section Starts Here -->
    <div id="Images">
        <div class="container tile">
            <div class="text-center">
                <div class="col-12">
                    <h3 class="heading">柑橘美图</h3>
                    <div class="heading-underline"></div>
                </div>
            </div>
            <div class="button-1" type="button" onclick="scrollDiv1()">
                <i class="fa fa-chevron-left fa-2x"></i>
            </div>
            <div class="button-2" type="button" onclick="scrollDiv()">
                <i class="fa fa-chevron-right fa-2x"></i>
            </div>
            <div class="big-row" id="horizontal">
                <div class="img-tile">
                    <img data-src="/images1/2.jpg" class="aos-init lazyload" alt="" data-aos="fade-up"
                        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="0" src="/images1/2.jpg">
                    <img data-src="/images1/3.jpg" class="aos-init lazyload" alt="" data-aos="fade-up"
                        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="500"
                        src="/images1/3.jpg">
                    <img data-src="/images1/4.jpg" class="aos-init lazyload" alt="" data-aos="fade-up"
                        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1000"
                        src="/images1/4.jpg">
                    <img data-src="/images1/5.jpg" class="aos-init lazyload" alt="" data-aos="fade-up"
                        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1500"
                        src="/images1/5.jpg">
                    <img data-src="/images1/6.jpg" class=" lazyload" alt="" src="/images1/6.jpg">
                    <img data-src="/images1/7.jpg" class=" lazyload" alt="" src="/images1/7.jpg">
                    <img data-src="/images1/8.jpg" class=" lazyload" alt="" src="/images1/8.jpg">
                    <img data-src="/images1/9.jpg" class="lazyload" alt="" src="/images1/9.jpg">
                </div>
            </div>
        </div>
    </div>
    <!-- Images Section Ends Here -->
    <!-- Articles Section Starts Here -->
    <div class="articles" id="articles">
        <div class="container-fluid text-center">
            <div class="col-12">
                <h3 class="heading">你知道吗</h3>
                <div class="heading-underline"></div>
            </div>
            <div class="row reverse">
                <div class="col-md-6 full-size text-center aos-init" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-easing="ease-in-out" data-aos-delay="0">
                    <h4 class="medium-heading">柑橘的<br>
                        神奇作用</h4>
                    <p class="medium-para">柑橘是对于野生及栽培环境中各种芸香科柑橘属之水果统称，包含各该物种、杂交种、变种及栽培品种；具体而言，主要种类有柚、枸橼、橘、柑、橙、酸橙、葡萄柚、柠檬、莱姆、和金柑等等。
柑橘类水果之组成十分复杂，主要原因在于柑橘属果树很容易在形态完全不同之物种间杂交，人类所栽培之柑橘类水果固然有原始野生品种之延续（摘自维基）...
                    </p>
                    <div class="btn btn-lg read-more btn-custom">展开阅读</div>
                </div>
                <div class="col-md-6 full-size text-center aos-init" data-aos="fade-up-left" data-aos-duration="1000"
                    data-aos-easing="ease-in-out" data-aos-delay="0">
                    <div style="height:500px">
                        <img data-src="/images1/4.jpg" alt="" class=" lazyload" src="/images1/4.jpg">
                    </div>
                </div>
            </div>
            <div class="row vertical">
                <div class="col-md-6 full-size">
                    <div style="height:600px">
                        <img data-src="/images1/5.jpg" alt="" class=" lazyload" src="/images1/5.jpg">
                    </div>
                </div>
                <div class="col-md-6 full-size" style="background-color:rgb(232, 51, 40);color:white">
                    <h4 class="medium-heading aos-init" data-aos="fade-up" data-aos-duration="1000"
                        data-aos-easing="ease-in-out" data-aos-delay="500">柑橘<br>
                        的美容效果
                    </h4>
                    <p class="medium-para aos-init" data-aos="fade-up" data-aos-duration="1000"
                        data-aos-easing="ease-in-out" data-aos-delay="0">目前人类对于野生和栽培柑橘类植物之详细基因组分析表明，柑橘类植物的起源中心可能是喜马拉雅山区的东南山麓，并以该处为起始点辐射向外扩展；迄今为止，在南亚、东亚和澳大利亚等地区，至少已经发现10种野生柑橘之存在，而现今大多数商业品种之柑橘类水果正是这些野生柑橘杂交之产物，其中来自于柚、枸橼、橘等三个源头物种之杂交种为最多...
                    </p>
                    <div class="btn btn-lg read-more btn-custom inverse">展开阅读</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Articles Section Ends Here -->
    <!-- Location Section Starts Here -->
    <div class="container-fluid text-center aos-init" id="location" data-aos="fade-up" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-delay="0">
        <div class="col-12">
            <h3 class="heading">地址</h3>
            <div class="heading-underline"></div>
        </div>
        <div class="location">
            <div class="row">
                <div class="col-md-6 col-location">
                    <div class="section">
                        <h1 class="section-heading">来<br>
                            实体店<br>
                            看一眼吧</h1>
                    </div>
                </div>
                <div class="col-md-6 col-location aos-init" data-aos="zoom-in" data-aos-duration="1000"
                    data-aos-easing="ease-in-out" data-aos-delay="0">
                    <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=shanghai+(Citrus)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/route-planner.htm">Driving Route Planner</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Location Section Ends Here -->
    <!-- Footer Section Starts Here -->
    <div class="row text-center" id="contactus">
        <div class="col-md-6" style="background-color:rgb(232, 51, 40);color:white;padding-bottom: 0.1rem">
            <div class="row" style="justify-content : center">
                <div class="col-sm-1" style="background-color : white; margin : 0.75rem; border-radius: 100px;">
                    <i class="fab fa-weibo fa-lg"></i>
                </div>
                <div class="col-sm-1" style="background-color : white; margin : 0.75rem; border-radius: 100px">
                    <i class="fab fa-qq fa-lg"></i>
                </div>
                <div class="col-sm-1" style="background-color : white; margin : 0.75rem; border-radius: 100px">
                    <i class="fab fa-weixin fa-lg"></i>
                </div>
                <div class="col-sm-1" style="background-color : white; margin : 0.75rem; border-radius: 100px">
                    <i class="fab fa-tiktok fa-lg"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-bottom : 0.1rem">
            <h3 class="heading social-heading" style="text-align:left;margin-left:12vh">联系我们</h3>
            <p class="xsmall-para" style="text-align:left;margin-left:12vh">
                <b>电话:</b> 000-00000000<br>
                <b>地址</b> A省B市C街D号
            </p>
        </div>
    </div>
    <div class="footer-underline"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <img data-src="/images1/citrus_icon.png" style="height: 5rem" alt="" class="lazyload"
                src="/images1/citrus_icon.png">
        </div>
    </div>
    <!-- Footer Section Ends Here -->
    <!--- Script Source Files -->
    <%# <script src="/javascript/bootstrap.min.js"></script> %>
    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        // $( document ).ready(function(){
        //     setTimeout(function () { 
                
        //         $("body").addClass("loaded"); 
        //     }, 0);
            
        //     setTimeout(function () { 
                
        //         $("#loader").css("display","none");
        //     }, 1000);
        // }) 
        window.onload=()=>{
            $('#loader').addClass('loaded');
            setTimeout(function () {
                
                $("#loader").css("display","none");
            }, 1000)
        };
        // function preloader(){
        //     $('#loader').addClass('loaded');
        //     setTimeout(function () {
                
        //         $("#loader").css("display","none");
        //     }, 1000)
        // }
        
        // window.addEventListener('load',()=>{
        //     $('#loader').addClass('loaded');
        //     setTimeout(function () {
                
        //         $("#loader").css("display","none");
        //     }, 1000)
        // });
        function scrollDiv() {
            document.getElementById("horizontal").scrollBy({
                left: 600,
                behavior: 'smooth',
            })
        }
        function scrollDiv1() {
            document.getElementById("horizontal").scrollBy({
                left: -600,
                behavior: 'smooth',
            })
        }
    </script>
    <script>
        var prev = window.pageYOffset;
        window.onscroll = function () {
            var current = window.pageYOffset;
            if (prev > current) {
                document.querySelector(".navbar").setAttribute("style", "top : 0");
            }
            else {
                document.querySelector(".navbar").setAttribute("style", "top : -6rem");
            }
            prev = current;
            const observer = lozad(); // lazy loads elements with default selector as '.lozad'
            observer.observe();
        }
    </script>
    <!--- End of Script Source Files -->

</body>